<!DOCTYPE html>
<!--I used a basic format HTML design, but I needed a bit of help when it came to the button creation 
which I tried to remember from my seamonkey class in BUS 311. 
Anyways this is the basic home page where it allows the users to choose the category they want, enter their names, and starting the quiz.-->
<html>
<head><title>Quiz Start</title></head>
<body>
  <h1>Welcome to my awesome quiz game website</h1>
  <form method="post">
    <label>Name:</label><input type="text" name="name" required><br><br>
    <label>Decide your fate!</label>
    <select name="category">
      <option value="Anime">Anime</option>
      <option value="Gaming">Gaming</option>
    </select><br><br>
    <button type="submit">Start THE Quiz</button>
  </form>
</body>
</html>
